*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap: wrap;
}
.contenedor-titulo{
    width: 60%;
}
h1{
    color:firebrick;
}
.contenedor-img{
    width: 40%;
}
.contenedor-img img{
    width: 50%;
}